<!DOCTYPE html>
<html>
<head>
    <title>Payments</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/footer.css" rel="stylesheet"> <!-- Link the footer.css file -->
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Booking Futsal Logo">
            Futsal Jaya
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="/bookings">Booking List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bookings/new">Add Booking</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="mt-5 text-center">Payments</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>nama</th>
                    <th>tanggal</th>
                    <th>status</th>
                    <th>payment method</th>
                    <th>total harga</th>
                </tr>
            </thead>
            <tbody>
                <% payments.forEach(payment => { %>
                    <tr>
                        <td><%= payment.name %></td>  <!-- Nama Pembayaran -->
                        <td><%= payment.date %></td>  <!-- Tanggal Pembayaran -->
                        <td><%= payment.status %></td>  <!-- Status Pembayaran -->
                        <td><%= payment.paymentMethod %></td>  <!-- Metode Pembayaran -->
                        <td><%= payment.totalPrice %></td>  <!-- Total Harga Pembayaran -->
                    </tr>
                <% }) %>
            </tbody>
            
        </table>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container1">
            <div class="footer-left">
                <img src="/assets/images/logo.png" width="100" height="100" class="d-inline-block align-top mb-2" alt="Booking Futsal Logo">
                <div class="social-media mt-3">
                    <a href="https://www.facebook.com/bookingfutsal" class="text-white mr-3">
                        <img src="/assets/images/icons/facebook.png" width="30" height="30" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/bookingfutsal" class="text-white mr-3">
                        <img src="/assets/images/icons/instagram.png" width="30" height="30" alt="Instagram">
                    </a>
                    <a href="https://www.twitter.com/bookingfutsal" class="text-white">
                        <img src="/assets/images/icons/twitter.png" width="30" height="30" alt="Twitter">
                    </a>
                </div>
            </div>
            <div class="footer-right">
                <p>&copy; <%= new Date().getFullYear() %> Booking Futsal. All Rights Reserved.</p>
                <p>Contact Us: <a href="mailto:info@bookingfutsal.com">info@bookingfutsal.com</a></p>
                <p>Phone: (123) 456-7890</p>
                <p>Address: 123 Futsal Street, Jakarta, Indonesia</p>
                <p>Operating Hours: Mon - Fri, 9:00 AM - 9:00 PM</p>
                <div class="quick-links mt-3">
                    <a href="/privacy" class="text-white mr-3">Privacy Policy</a>
                    <a href="/terms" class="text-white">Terms of Service</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
